body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.carregar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
}

.carregar div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    display: flex;
    justify-content: center;
    width: 100%;
}


.input{
    margin-bottom: 1.5rem;
}